<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Typing Invasion - Defend your bases!">
    <meta name="author" content="">

    <title>Typing Invasion - Defend your bases!</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/css/animate.css" rel="stylesheet" />
    <!-- CSS -->
    <link href="/css/style.css" rel="stylesheet">
  <link href="/color/default.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
  <!-- Preloader -->
  <div id="preloader">
    <div id="load"></div>
  </div>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <h1>Typing Invasion</h1>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#intro">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#service">Project</a></li>
    <li><a href="<%= multiplayerLinks[0] %>">Multiplayer Game</a></li>
    <li><a href="/original">Original Game</a></li>
      </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

  <!-- Section: intro -->
    <section id="intro" class="intro">
  
    <div class="slogan">
      <h2>CALLING ALL <span class="text_color">PROGRAMMERS!</span> </h2>
            <h4>YOU ARE PITTED AGAINST THE BEST. CAN YOU TYPE <span class="text_color">FAST ENOUGH</span> TO KEEP VIRUSES AT BAY?!</h4>
    </div>
    <div class="page-scroll">
      <a href="#service" class="btn btn-circle">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
    </div>
    </section>
  <!-- /Section: intro -->

  <!-- Section: about -->
    <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>About us</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container">

    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Syed Jafri</h5>
                        <p class="subtitle">Full Stack Engineer</p>
                        <div class="avatar"><img src="img/team/syed.jpg" alt="" class="img-responsive img-circle" /></div>
                        <div class="social">
                            <ul>
                                <a href="https://www.linkedin.com/in/syedjafri/" class="team-social"><li class="social-linkedin">Linked In</li></a> | 
                                <a href="https://github.com/syedjafri" class="team-social"><li class="social-github">GitHub</li></a> | 
                                <a href="mailto:syedjafri@gmail.com" class="team-social"><li class="social-email">Email</li></a>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
            </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="wow bounceInUp" data-wow-delay="0.5s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Cliff Saporta Cheng</h5>
                        <p class="subtitle">Full Stack Engineer</p>
                        <div class="avatar"><img src="img/team/cliff.jpg" alt="" class="img-responsive img-circle" /></div>
                        <div>
                            <ul>
                                <a href="https://www.linkedin.com/in/ccfcheng" class="team-social"><li class="social-linkedin">Linked In</li></a> | 
                                <a href="http://github.com/ccfcheng" class="team-social"><li class="social-github">GitHub</li></a> | 
                                <a href="mailto:ccfcheng@gmail.com" class="team-social"><li class="social-email">Email</li></a>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
            </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="wow bounceInUp" data-wow-delay="0.8s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Andrey Azov</h5>
                        <p class="subtitle">Full Stack Engineer</p>
                        <div class="avatar"><img src="img/team/andrey.jpg" alt="" class="img-responsive img-circle" /></div>
                        <div>
                            <ul>
                                <a href="https://www.linkedin.com/in/andreyazov" class="team-social"><li class="social-linkedin">Linked In</li></a> | 
                                <a href="http://github.com/azangru" class="team-social"><li class="social-github">GitHub</li></a> | 
                                <a href="mailto:andrey.azov@gmail.com" class="team-social"><li class="social-email">Email</li></a>
                            </ul>
                        </div>
                            
                    </div>
                </div>
        </div>
            </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="wow bounceInUp" data-wow-delay="1s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Chris Griffis</h5>
                        <p class="subtitle">Full Stack Engineer</p>
                        <div class="avatar"><img src="img/team/chris.png" alt="" class="img-responsive img-circle" /></div>
                        <div>
                            <ul>
                                <a href="https://www.linkedin.com/in/chrisgriffis" class="team-social"><li class="social-linkedin">Linked In</li></a> | 
                                <a href="http://github.com/csgriffis" class="team-social"><li class="social-github">GitHub</li></a> | 
                                <a href="mailto:christophergriffis@gmail.com" class="team-social"><li class="social-email">Email</li></a>
                            </ul>
                        </div>

                    </div>
                </div>
        </div>
            </div>
        </div>    
    </div>
  </section>
  <!-- /Section: about -->
  

  <!-- Section: Instructions -->
    <section id="service" class="home-section text-center bg-gray">
    
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>The Project</h2>
          <i class="fa fa-2x fa-angle-down"></i>
          </div>
          </div>
        </div>
            <div><img src="img/game.png" alt=""  /></div>
      </div>
      </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
        <div class="wow fadeInLeft" data-wow-delay="0.2s">
                <div class="service-box">
          <div class="service-icon">
            <img src="img/icons/game_icon.png" alt="" />
          </div>
          <div class="service-desc">
            <h5>Game Play</h5>
                        <p>Type the text exactly as it appears, as you race your opponent.</p>
                        <p>If you are too slow, viruses will attack and kill your computer!</p>
          </div>
                </div>
        </div>
            </div>
      <div class="col-sm-3 col-md-3">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
          <div class="service-icon">
            <img src="img/icons/service-icon-2.png" alt="" />
          </div>
          <div class="service-desc">
            <h5>Scoring</h5>
            <p>Don't let your health run out !</p>
                        <p> If you type the command successfully, you will spawn viruses to attack your opponent!</p>
          </div>
                </div>
        </div>
            </div>
      <div class="col-sm-3 col-md-3">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
          <div class="service-icon">
            <img src="img/icons/stack.png" alt="" />
          </div>
          <div class="service-desc">
            <h5>Tech Stack</h5>
            <p>Phaser.io | Socket.io | Node.js | Express | Slack API </p>
          </div>
                </div>
        </div>
            </div>
      <div class="col-sm-3 col-md-3">
        <div class="wow fadeInRight" data-wow-delay="0.2s">
                <div class="service-box">
          <div class="service-icon">
            <img src="img/icons/service-icon-4.png" alt="" />
          </div>
          <div class="service-desc">
            <h5>Inspiration</h5>
            <p>Typing Invasion is a modified version of Tower Scum - a game built by Team Hermes as part of Hack Reactor.</p>
                        <p>Typing Invasion overhauled the entire game play mechanics, added multiplayer option, integrated typing game play, and married it with Slack so that you can challenge users right from Slack Chat! </p>
                        <p>Fork us at <a href="https://github.com/HR-Athena/Athena-Legacy">GITHUB</a></p>
          </div>
                </div>
        </div>
            </div>
        </div>    
    </div>
  </section>
  <!-- /Section: services -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="wow shake" data-wow-delay="0.4s">
          <div class="page-scroll marginbot-30">
            <a href="#intro" id="totop" class="btn btn-circle">
              <i class="fa fa-angle-double-up animated"></i>
            </a>
          </div>
          </div>
          <p>&copy;Copyright 2015 - Team Athena. All rights reserved.</p>
        </div>
      </div>  
    </div>
  </footer>

    <!-- Core JavaScript Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script> 
  <script src="js/jquery.scrollTo.js"></script>
  <script src="js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.js"></script>

</body>

</html>
